body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
}

#Topbar {
	position: relative;
	margin: 3px;
	width: calc(100% - 6px);
	height: 35px;
	background-color: black;
}

#Topbar #TonejsLogo {
	margin-top: 3px;
}

#Presets {
	font-family: sans-serif;
	width: 70%;
	max-width: 600px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

#Instruments {
	margin-left: 3px;
}

button {
	width: 60px;
	background-color: white;
	border: 2px solid #777;
	color: #777;
	outline: 0;
	float: right;
}

button:hover {
	border-color: #22DBC0;
	color: #22DBC0;
}

button:hover:active {
	border-color: #ED33CF;
	color: white;
	background-color: #ED33CF;
}

img {
	width: 100%;
	margin-top: 10px;
}

.Block {
	padding-top: 5px;
	margin-top: 10px;
	border: 2px solid #777;
	text-align: center;
}

/*
	CODE MIRROR
*/
.CodeMirror {
	border: 2px solid #777;
	height: auto;
}

.CodeMirror-focused {
	border: 2px solid #22DBC0;
}

.cm-s-default .cm-property {
	color: #3833ED!important;
}

.cm-s-default .cm-string {
	color: #7F33ED;
}

.cm-s-default .cm-number {
	color: #f5871f;
}

.Error {
	border-color: red;
}